<div class="container-fluid mt-5 pt-5">

  <div class="row">

    <div class="d-flex flex-wrap card-container recipe-container">
      <div class="card recipe" style="width: 18rem;" *ngFor="let item of recipes">
        <div class="card-body">
          <h5 class="card-title">
            <a href="/recipe/{{ item.id }}">{{ item.title }}</a>
          </h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">{{ item.desc.substr(0, 50) }}...</p>
          <p class="card-text">{{ item.timeToComplete }} mins</p>
        </div>
      </div>
    </div>

  </div>

</div>
